.container {
  width: 800px;
  padding-top: 1em;
  background-color: rgba(14, 59, 2, 0.5);
}

.card {
  margin-bottom: 1em;
}

#header {
  text-align: center;
  margin-top: 1em;
}

.content-row {
  text-align: center;
}

#wrapper{
  max-width: 1280px;
  min-height: 900px;
  margin: auto;
  background-image: url("../images/background.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}


.hidden{
  display: none;
}

#result-text{
  overflow:scroll;
  max-height: 400px;
}

body {
  background-color:rgb(5, 20, 1);
}

.thumbs{
  width:100px;
}